<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>
      <app-article-meta [article]="article">
        <span [hidden]="!canModify">
          <a [routerLink]="['/editor', article.slug]" class="btn btn-sm btn-outline-secondary">
            <i class="ion-edit"></i> Edit Article
          </a>
          <button [ngClass]="{ disabled: isDeleting }" (click)="deleteArticle()" class="btn btn-sm btn-outline-danger">
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </span>
        <span [hidden]="canModify">
          <app-follow [profile]="article.author" (onToggle)="onToggleFollowing($event)"></app-follow>
          <app-favorite [article]="article" (onToggle)="onToggleFavorite($event)">
            {{ article.favorited ? 'Unfavorite' : 'Favorite' }} Article
            <span class="counter">({{ article.favoritesCount }})</span>
          </app-favorite>
        </span>
      </app-article-meta>
    </div>
  </div>
  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <div [innerHTML]="article.body | markdown"></div>
        <ul class="tag-list">
          <li class="tag-default tag-pill tag-outline" *ngFor="let tag of article.tagList">
            {{ tag }}
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="article-actions">
      <app-article-meta [article]="article">
        <span [hidden]="!canModify">
          <a [routerLink]="['/editor', article.slug]" class="btn btn-sm btn-outline-secondary">
            <i class="ion-edit"></i> Edit Article
          </a>
          <button [ngClass]="{ disabled: isDeleting }" (click)="deleteArticle()" class="btn btn-sm btn-outline-danger">
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </span>
        <span [hidden]="canModify">
          <app-follow [profile]="article.author" (onToggle)="onToggleFollowing($event)"></app-follow>
          <app-favorite [article]="article" (onToggle)="onToggleFavorite($event)">
            {{ article.favorited ? 'Unfavorite' : 'Favorite' }} Article
            <span class="counter">({{ article.favoritesCount }})</span>
          </app-favorite>
        </span>
      </app-article-meta>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <div *appShowAuthed="true">
          <app-errors [errors]="commentFormErrors"></app-errors>
          <form class="card comment-form" (ngSubmit)="addComment()">
            <fieldset [disabled]="isSubmitting">
              <div class="card-block">
                <textarea rows="3" class="form-control" placeholder="Write a comment..." [formControl]="commentControl"></textarea>
              </div>
              <div class="card-footer">
                <img [src]="currentUser.image" alt="Current user's avatar" class="comment-author-img">
                <button class="btn btn-sm btn-primary">Post Comment</button>
              </div>
            </fieldset>
          </form>
        </div>
        <div *appShowAuthed="false">
          <a [routerLink]="['/login']">Sign In</a> or
          <a [routerLink]="['/register']">Sign Up</a> to add comments to this article.
        </div>
        <app-article-comment *ngFor="let comment of comments" [comment]="comment" (deleteComment)="onDeleteComment(comment)"></app-article-comment>
      </div>
    </div>
  </div>
</div>