<div class="card">
  <div>
    <div class="card-block">
      <p class="card-text">
        {{ comment.body }}
      </p>
    </div>
  </div>
  <div class="card-footer">
    <a [routerLink]="['/profile', comment.author.username]" class="comment-author">
      <img [src]="comment.author.image" alt="comment author avatar" class="comment-author-img">
    </a>
    <a [routerLink]="['/profile', comment.author.username]" class="comment-author">
      {{ comment.author.username }}
    </a>
    <span class="date-posted">
      {{ comment.createdAt | date: 'longDate' }}
    </span>
    <span class="mod-options" [hidden]="!canModify">
      <i class="ion-trash-a" (click)="deleteClicked()"></i>
    </span>
  </div>
</div>