<nav class="navbar navbar-light">
  <div class="container">
    <a routerLink="/" class="navbar-brand">conduit</a>
    <!-- Before User Logs In -->
    <ul class="nav navbar-nav pull-xs-right" *appShowAuthed="false">
      <li class="nav-item">
        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link" routerLinkActive="active">Sign In</a>
      </li>
      <li class="nav-item">
        <a routerLink="/register" class="nav-link" routerLinkActive="active">Sign Up</a>
      </li>
    </ul>
    <!-- After User Logs In -->
    <ul class="nav navbar-nav pull-xs-right" *appShowAuthed="true">
      <li class="nav-item">
        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="ion-compose"></i> New Article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="ion-gear-a"> Settings</i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">My Profile</a>
      </li>
    </ul>
  </div>
</nav>