<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-xs-12">
          <img [src]="profile.image" alt="" class="user-img">
          <h4>{{ profile.username }}</h4>
          <p>{{ profile.bio }}</p>
          <app-follow [hidden]="isUser" [profile]="profile" (onToggle)="onToggleFollowing($event)">
          </app-follow>
          <a class="btn btn-sm btn-outline-secondary action-btn" [routerLink]="['/settings']" [hidden]="!isUser">
            <i class="ion-gear-a"></i> Edit Profile Settings</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-xs-12">
          <div class="articles-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item">
                <a class="nav-link">My Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Favorite Posts</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>